body {

	background-image: url('images/png.png');
	background-size: cover	;
	background-repeat: no-repeat;
	font-family: poppins, sans-serif;

}

.back {
	width: 1280px;
	height: 900px;
	background-color: #000000;
	opacity: 75%;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 30px;
	border-radius: 25px;
	text-align: center;
	

}

.content {

padding-top: 1px;

}

.content h1 {

	font-size: 80px ;
	color : #fff ;
	font-weight: 600;
	transition: 0.1s;
}
.content h1:hover {
	-webkit-text-stroke : 2px #fff ;
	color : transparent ;
	cursor : pointer; 

}

.back {

	opacity: 75%;
}

.content h2 {

	text-align: center;
	color : #fff ; 
	margin-top: -60px;
	font-weight: 600;
	font-size: 25px;

}

.content .a {
 	
	width : 82px ;
	height : 5px ;
	margin-left: 598px;
	background-color : #FFB6C1 ; 
	margin-top: -20px;
	border-radius: 25px;
	transition: 1s;
	

}

.content h2:hover{

	cursor: pointer;
}
.content .a:hover {

	cursor: pointer;
}


.content p{
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 20px;

}

.content p:hover {

	cursor: pointer;
}

.hr1 {

	width: 80%;
	
}




.all {

	display: inline;
}


.one {

	width: 350px;
	height: 290px;
	background: rgb(227,88,227);
	background: linear-gradient(129deg, rgba(227,88,227,1) 0%, rgba(255,255,255,1) 100%);
	border-radius: 25px;
	margin-left: 40px;
	margin-top: 40px;

}

.one img {

	width: 330px;
	height: 200px;
	margin-top: 10px;
	border-radius: 25px;
	opacity: 85%;
}

.one h2 {

	color : Black;
	font-weight: 600;
	font-size: 30px;
	margin-top: 6px;
	text-decoration: underline;

}

.one:hover {

	background: rgb(227,88,227);
	background: linear-gradient(45deg, rgba(227,88,227,1) 0%, rgba(255,255,255,1) 100%);

}

.two {

	width: 350px;
	height: 290px;
	background: rgb(227,88,227);
	background: linear-gradient(129deg, rgba(227,88,227,1) 0%, rgba(255,255,255,1) 100%);
	margin-left: 450px;
	margin-top: -290px;
	border-radius: 25px;

}

.two img {

	width: 330px;
	height: 200px;
	margin-top: 10px;
	border-radius: 25px;
	opacity: 85%;
}

.two h2 {

	color : Black;
	font-weight: 600;
	font-size: 30px;
	margin-top: 6px;
	text-decoration: underline;

}

.two:hover {

	background: rgb(227,88,227);
	background: linear-gradient(45deg, rgba(227,88,227,1) 0%, rgba(255,255,255,1) 100%);

}

.three {

	width: 350px;
	height: 290px;
	background: rgb(227,88,227);
	background: linear-gradient(129deg, rgba(227,88,227,1) 0%, rgba(255,255,255,1) 100%);
	margin-left: 870px;
	margin-top: -290px;
	border-radius: 25px;

}

.three img {

	width: 330px;
	height: 200px;
	margin-top: 10px;
	border-radius: 25px;
	opacity: 85%;
}

.three h2 {

	color : Black;
	font-weight: 600;
	font-size: 30px;
	margin-top: 6px;
	text-decoration: underline;

}

.three:hover {

	background: rgb(227,88,227);
	background: linear-gradient(45deg, rgba(227,88,227,1) 0%, rgba(255,255,255,1) 100%);

}
