body {

	background-image: url('images/png.png');
	background-size: cover	;
	background-repeat: no-repeat;
	font-family: poppins, sans-serif;

}

.back {
	width: 1280px;
	height: 900px;
	background-color: #000000;
	opacity: 75%;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 30px;
	border-radius: 25px;
	text-align: center;
	

}

.content {

padding-top: 1px;

}

.content h1 {

	font-size: 80px ;
	color : #fff ;
	font-weight: 600;
	transition: 0.1s;
}
.content h1:hover {
	-webkit-text-stroke : 2px #fff ;
	color : transparent ;
	cursor : pointer; 

}

.back {

	opacity: 75%;
}

.content h2 {

	text-align: center;
	color : #fff ; 
	margin-top: -60px;
	font-weight: 600;
	font-size: 25px;

}

.content .a {
 	
	width : 82px ;
	height : 5px ;
	margin-left: 598px;
	background-color : #FFB6C1 ; 
	margin-top: -20px;
	border-radius: 25px;
	transition: 1s;
	

}

.content h2:hover{

	cursor: pointer;
}
.content .a:hover {

	cursor: pointer;
}


.content p{
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 20px;

}

.content p:hover {

	cursor: pointer;
}

.hr1 {

	width: 80%;
	
}

.one {

	width: 350px ; 
	height: 350px;
	background-color: #FFB6C1;
	border-radius: 25px;
	margin-top : 40px ; 
	margin-left: 40px;
	text-align: center;
	position: absolute;
	transition: 9s;
	cursor: pointer;
	
}

.oneimg {
	width: 340px;
	margin-top: 10px;
	border-radius: 25px;
	margin-left: -170px;
	position: absolute;
	z-index: 1;
	opacity: 90%;
	cursor: pointer;

}

.one h2 {

	z-index: 1;
	position: relative;
	margin-top: 220px;
	font-weight: 600;
	font-size: 30px;
	text-decoration: underline;
	color : black;

	
}

.one a {

	color : black; 
}

.one:hover {

	background-color: #FF69B4;

	
}


.one p {

	font-size: 15px;
	font-weight: 600;
	margin-top: -20px;
	color: #000000; 


}

.one .as {

	color : black; 
	text-decoration: none;
}

