body {
	
	font-family: 'poppins', sans-serif;
	background-image: url('images/png.png');
	background-size: cover	;
	background-repeat: no-repeat;
	justify-content: center	;
	align-items: center;
}

.a {
	
	display: inline-block;
	
}

ul {
	 
	margin-left: 1000px ;
	margin-top: 10px;
}
ul li   {
	list-style: none;
	display: inline-block;
	margin-left: 30px;
	font-weight: 600;
	font-size: ;
	
}
ul li a {

	color: white;
	text-decoration: none;
	transform : color 1s ;

}

ul li a:hover {

	color: #00FFEA ;  
}

.content {

	text-align: center ;
	justify-content: center;
	margin-top: 200px;
}

.content h1 {
	margin-top: -20px;
	font-size: 100px ;
	color : #fff ;
	font-weight: 600;
	margin-bottom: -20px ;
	transition: 0.5s;

}

.content h1:hover {
	-webkit-text-stroke : 2px #fff ;
	color : transparent ;
	cursor : pointer; 




}

.content p {

	color : #fff ; 
	font-weight: 500;
}


.or {

	text-decoration: none;
	margin-left  : 580px ; 
	margin-top: 240px ; 
	color : #00FFFC ;
	font-size: 0.8em ;
	display: flex;
	
}





@media screen and (max-width:700px) {


	body {

		font-family: 'poppins', sans-serif;
		background-image: url('images/png.png');
		background-size: cover	;
		background-repeat: no-repeat;
		
		align-items: center;

	}
	.a {
	
	display: inline-block;
	
	
	}

	ul {
	 
	margin-left: 300px ;
	margin-top: 20px;
	}

	.or {

		text-decoration: none;
		margin-left  : 230px ; 
		margin-top: 80px ; 
		color : #00FFFC ;
		font-size: 0.8em ;
		display: flex;
		
	}


	.content {

		text-align: center ;
		justify-content: center;
		
	}
	
	.content h1 {
		margin-top: -140px;
		font-size: 80px ;
		color : #fff ;
		font-weight: 600;
		margin-bottom: -20px ;
		transition: 0.5s;

	}


}


